body{
    font-family: 'Source Sans Pro', sans-serif;
}


@media (min-width: 1081px){
    
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: block;
    }
    .navContainer > ul > a{
        position: relative;
        left: 15%;
        display: inline-grid;
        width: 8%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
    
}

@media only screen and (max-width: 1080px) {
    
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 15%;
        display: inline-grid;
        width: 8%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 580px) {
    
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 0%;
        display: inline-grid;
        width: 5%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 420px) {
    
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 0%;
        display: inline-grid;
        width: 6%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 340px) {
    
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: -10%;
        display: inline-grid;
        width: 4%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 780px)
{
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 10%;
        display: inline-grid;
        width: 6%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
}